body {
  margin: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hide {
  display: none;
}

.deb {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  display: none;
}